@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(216, 215, 215);
    
}

.divSearch {
    display: flex;
    margin-top: 20px;
}

input {
    height: 32px;
}

.divSearch p {
    margin-left: 10px;
}

.cardsContainer {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    width: 80%;
    margin-left: 10%;
    
}

img {
    width: 200px;
}

.cardDatos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 200px;
    width: 200px;
    background-color: white;
    position: relative;
    bottom: 5px ;
    line-height: 30px;
    padding: 10px 10px;
}

#card {
   padding-left: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.user {
    margin-left: 15px;
    margin-bottom: 15px;
}

hr {
    width: 170px;
    
    margin-top: 10px;
}

h3 {
    color: rgb(6, 155, 255);
    margin-bottom: 5px;
}


.form-orden {
    display: flex;
    justify-content: end;
    margin-right: 11.5%;
    padding-top: 5%;
    
}

select {
    padding: 10px;
}

.botones-paginado {
    padding: 60px;
    display: flex;
    justify-content: center;
}

.botones-paginado button{
    width: 50px;
    height: 50px;
    background-color: white;
    color: rgb(6, 155, 255);
    margin: 5px;
    font-weight: bold;
    font-size: 18px;
    border: none;
}

.botones-paginado button:hover{
    background-color: rgb(6, 155, 255);
    color: white;
}